






<div id="info"></div>
       <div class="navigation">
        <a href="#!/Hmpage"> <b>Home</b></a>
        <a href="#!/SI"> <b>ADD Student </b></a>
        <a href="#!/ES"> <b>Enrolled Students </b> </a>
    </div>