
.navigation a {
    padding: 20px 8px 6px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #D3D3D3;
    display: block;
}

.navigation a:hover {
    color: #FFFFFF;
}

.abc {
    margin-left: 170px;
    padding: 10px 10px;
}
body {
    background-color: white;
    color: black;
}



.navigation {
    height: 100%;
    width: 170px;
    color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    padding-top: 10px;  
}

.center{

    text-align: center;
}

