.students {
    text-align: center;
}

.k-grid .k-state-selected {
    background-color: #473726 !important;
    color: white;
}

.k-list .k-reset {
    background-color: #413224 !important;
    color: rgb(168, 142, 142);
}

li[aria-selected="true"] {
    background-color: #383736 !important;
    outline-color: #383736;
    color: white;
}