<h2>Please Fill Form of Enrollment</h2>
<p>&nbsp;</p>
<form ng-submit="submit()" ng-controller="StudentsinfoCtrl">
    <sapn> <b>Student Name:</b> </sapn>
    <input type="text" ng-model="studentname">
    <span> <b>Father Name: </b></span>
    <input type="text" ng-model="fathername">
    <span> <b>Roll NO:</b></span>
    <input type="number" ng-model="rollno">
    <span> <b>Department:</b></span>
    <input type="text" ng-model="department">
    <br>
     <span><b>Address:</b></span>
    <textarea class="textarea" type="text" ng-model="address" rows="5" cols="25"></textarea>
    <span>&nbsp;</span>
    <br>
    <hr>
    <div style="align-self: center;">
    <input type="submit" id="submit" value="Submit" />
    <input type="reset" />
</div>
</form>